<h1>Listing articles</h1>

<%= link_to 'New article', new_article_path %>

<table>
  <% @articles.each do |article| %>
    <%= react_component("Article", props: {
      title: article.title,
      text: article.text
      }, prerender: false) %>
      <%= react_component("Link", props: {
        text: 'Show',
        linkTo: article_path(article)
        }, prerender: false) %>
      <%= react_component("Link", props: {
        text: 'Edit',
        linkTo: edit_article_path(article)
        }, prerender: false) %>
      <%= link_to 'Destroy', article_path(article),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
  <% end %>
</table>
